*~
*.pyc
\#*\#
.\#*
*DS_Store
slurm-*.out
*.tar.gz
.eggs/
.pytest_cache/
espnet.egg-info/

doc/_build
docker/in_run*

# recipe related
egs/*/*/beam*
egs/*/*/data*
egs/*/*/db
egs/*/*/downloads
egs/*/*/dump
egs/*/*/exp
egs/*/*/fbank
egs/*/*/mfcc
egs/*/*/stft
egs/*/*/enhan
egs/*/*/in_run*
egs/*/*/wav*
egs/*/*/tmp*
egs/*/*/CHiME*
egs/*/*/spectrogram*
egs/*/*/test*

# tools related
tools/kaldi
tools/kaldi-io-for-python*
tools/kaldi_github/
tools/miniconda.sh
tools/nkf/
tools/venv/
tools/warp-ctc/
tools/chainer_ctc/
tools/sentencepiece/
tools/nkf*
tools/chainer_ctc*
tools/warp-ctc*
tools/sentencepiece*
tools/moses
tools/*.done
